<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shop name</th>
      <th>City</th>
      <th>Street</th>
      <th>Province</th>
      <th>Postal code</th>
      <th>Primary contact</th>
      <th>Secondary contact</th>
      <th>Vat no</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.shop_name %></td>
        <td><%= customer.city %></td>
        <td><%= customer.street %></td>
        <td><%= customer.province %></td>
        <td><%= customer.postal_code %></td>
        <td><%= customer.primary_contact %></td>
        <td><%= customer.secondary_contact %></td>
        <td><%= customer.vat_no %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
