<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Shop name:</strong>
  <%= @customer.shop_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>

<p>
  <strong>Province:</strong>
  <%= @customer.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @customer.postal_code %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @customer.primary_contact %>
</p>

<p>
  <strong>Secondary contact:</strong>
  <%= @customer.secondary_contact %>
</p>

<p>
  <strong>Vat no:</strong>
  <%= @customer.vat_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
