<%= form_with(model: size, local: true) do |form| %>
  <% if size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
        <% size.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :no_of_units %>
    <%= form.number_field :no_of_units %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
