<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @size.size %>
</p>

<p>
  <strong>No of units:</strong>
  <%= @size.no_of_units %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
