<p id="notice"><%= notice %></p>

<%= link_to 'New Order', new_order_path %>
<div class="">
<table class=" table table-striped">
  <thead class="thead-dark" style="background-color: black; text-decoration-color: white;">
    <tr>
      <th>Customer name</th>
      <th>Contact no</th>
      <th>Order items</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total cost</th>
      <th>Order date</th>
      <th>Delivery date</th>
      <th>Remarks</th>
      <th>Payment method</th>
      <th>Invoice no</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.name %></td>
        <td><%= order.customer.primary_contact %></td>
        <td><%= order.product.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.unit_price %></td>
        <td><%= order.quantity*order.unit_price %></td>
        <td><%= order.order_date %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.remarks %></td>
        <td><%= order.payment_method %></td>
        <td><%= order.invoice_no %></td>
        <td><%= order.status %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Order', new_order_path %>
