<%= form_with(model: customer_product, local: true) do |form| %>
  <% if customer_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_product.errors.count, "error") %> prohibited this customer_product from being saved:</h2>

      <ul>
        <% customer_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
