<p id="notice"><%= notice %></p>

<h1>Customer Products</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_products.each do |customer_product| %>
      <tr>
        <td><%= customer_product.price %></td>
        <td><%= link_to 'Show', customer_product %></td>
        <td><%= link_to 'Edit', edit_customer_product_path(customer_product) %></td>
        <td><%= link_to 'Destroy', customer_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Product', new_customer_product_path %>
