<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @customer_product.price %>
</p>

<%= link_to 'Edit', edit_customer_product_path(@customer_product) %> |
<%= link_to 'Back', customer_products_path %>
