<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :alchohol_percent %>
    <%= form.number_field :alchohol_percent %>
  </div>

  <div class="field">
    <%= form.label :whole_sale_price %>
    <%= form.number_field :whole_sale_price %>
  </div>

  <div class="field">
    <%= form.label :retail_price %>
    <%= form.number_field :retail_price %>
  </div>

  <div class="field">
    <%= form.label :mrp %>
    <%= form.number_field :mrp %>
  </div>

  <div class="field">
    <%= form.label :dealer_price %>
    <%= form.number_field :dealer_price %>
  </div>

  <div class="field">
    <%= form.label :distributer_price %>
    <%= form.number_field :distributer_price %>
  </div>

  <div class="field">
    <%= form.label :total_quantity %>
    <%= form.number_field :total_quantity %>
  </div>
  <div class="field">
    <%= form.label :Company %>
    <%= collection_select(:product, :company_id, Company.all, :id, :name,  :id => "selectSite", :class => "form-control") %>
  </div>
   <div class="field">
    <%= form.label :Size %>
    <%= collection_select(:product, :size_id, Size.all, :id, :size,  :id => "selectSite", :class => "form-control") %>
  </div>
   <div class="field">
    <%= form.label :Product_Category %>
    <%= collection_select(:product, :product_category_id, ProductCategory.all, :id, :name,  :id => "selectSite", :class => "form-control") %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
