<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alchohol percent</th>
      <th>Whole sale price</th>
      <th>Retail price</th>
      <th>Mrp</th>
      <th>Dealer price</th>
      <th>Distributer price</th>
      <th>Total quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.alchohol_percent %></td>
        <td><%= product.whole_sale_price %></td>
        <td><%= product.retail_price %></td>
        <td><%= product.mrp %></td>
        <td><%= product.dealer_price %></td>
        <td><%= product.distributer_price %></td>
        <td><%= product.total_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
