<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Alchohol percent:</strong>
  <%= @product.alchohol_percent %>
</p>

<p>
  <strong>Whole sale price:</strong>
  <%= @product.whole_sale_price %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @product.retail_price %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @product.mrp %>
</p>

<p>
  <strong>Dealer price:</strong>
  <%= @product.dealer_price %>
</p>

<p>
  <strong>Distributer price:</strong>
  <%= @product.distributer_price %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%= @product.total_quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
